{% extends 'base.html.twig' %}

{% block title %}Oilroyal AG{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">

                <img src="{{ asset('img/logo.png') }}" alt="OilRoyal Logo" class="logo">


                <footer class="mt-5">© 2025 OilRoyal. Alle Rechte vorbehalten.</footer>
            </div>
        </div>
    </div>

{% endblock %}
